services:
  webtop:
    build: .
    ports:
      - "3001:3001"
    restart: unless-stopped
    runtime: nvidia
    volumes:
      - ./volume:/config
    environment:
      - TZ=Asia/Taipei
      - LANG=en_US.UTF-8
      - LC_ALL=en_US.UTF-8
