services:
  webtop:
    image: linuxserver/webtop:fedora-mate
    ports:
      - "3001:3001"
    restart: unless-stopped
    runtime: nvidia
    volumes:
      - ./volume:/config
    environment:
      - TZ=Asia/Taipei
