services:
  gitlab:
    image: gitlab/gitlab-ce:latest
    container_name: gitlab
    hostname: gitlab
    restart: unless-stopped
    shm_size: '256m'
    environment:
      TZ: Asia/Taipei
      GITLAB_OMNIBUS_CONFIG: |
        external_url 'http://${GITLAB_HOST}:8929'
        gitlab_rails['gitlab_shell_ssh_port'] = 2222
    ports:
      - "8929:8929"
      - "2222:22"
    volumes:
      - ./volume/config:/etc/gitlab
      - ./volume/logs:/var/log/gitlab
      - ./volume/data:/var/opt/gitlab
